@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+AU+NSW:wght@100..400&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

section.school {
    background-position: center top;
    background-size: 100% auto;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.inglemoor {
    background-image: url('../img/Entrance_to_Inglemoor_High_School.webp');
    background-repeat: no-repeat;
}

section.inglemoor-pine {
    background-image: url('../img/Entrance_to_Inglemoor_High_School.webp'), url('../img/pine-needles-small.jpg');
    background-repeat: no-repeat, repeat;
    background-size: 100% auto, 100px 150px;
}

section.inglemoor-leaf {
    background-image: url('../img/Entrance_to_Inglemoor_High_School.webp'), url('../img/leaves.png');
    background-repeat: no-repeat, repeat;
    background-size: 100% auto, 100px 150px;
}

section.cwusign {
    background-image: url('../img/CWU_sign.jpg'), url('../img/leaves.png');
    background-repeat: no-repeat, repeat;
    background-size: 100% auto, 100px 100px;
}

section.cwu {
    background-image: url('../img/CWU_building.jpg');
    background-repeat: no-repeat;
}

section.lwtech {
    background-image: url('../img/lwtech.jpg'), url('../img/stones.webp');
    background-repeat: no-repeat, repeat;
    background-size: 100% auto, 100px 100px;
}

section.pine {
    background-image: url('../img/pine-needles-small.jpg');
    background-repeat: repeat;
    background-size: 100px 150px;
    display: grid;
    place-items: center;
    margin-bottom: 100px;
}

section.leaf {
    background-image: url('../img/leaves.png');
    background-repeat: repeat;
    background-size: 300px 300px;
    display: grid;
    place-items: center;
    margin-bottom: 100px;
}

section.intasc.grid3 {
    display: grid;
    align-items: start;
    grid-template-columns: 40% 31% 26%;
}

section.intasc.grid3b {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}

section.grid1,
div.grid1 {
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
    margin-bottom: 10px;
}

div.grid1 img {
    margin-bottom: 10px;
}

section.grid2,
div.grid2 {
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    margin-left: 2%;
    margin-right: 2%;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

section.intasc {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

div.grid2b {
    display: grid;
    place-items: center;
    grid-template-columns: 35% 55%;
    gap: 100px;
}

div.grid2 img,
div.grid3 img,
section.grid3 img {
    width: 98%;
}

div.grid3 img,
div.grid2 img,
div.grid2 embed,
section.grid3 img,
section.grid2 img,
section.grid2 embed {
    width: 98%;
    align-self: center;
    /* vertical centering within the grid cell */
    justify-self: center;
    /* horizontal centering */
}

nav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: #506b10;
    color: rgb(253, 236, 204);
    display: inline-block;
    width: 100%;
    align-items: center;
    overflow: hidden;
    font-family: 'Josefin Sans', 'Lucida Sans', Verdana, sans-serif;
}

nav a:link,
nav a:visited {
    color: rgb(253, 236, 204);
}

nav a:hover {
    color: rgb(248, 209, 33);
}

/* Navigation links */
nav a {
    font-size: 1.3em;
    color: rgb(253, 236, 204);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.learner {
    color: rgb(247, 109, 116) !important;
    text-shadow: 1px 1px 1px black, 3px 3px 4px rgb(248, 209, 33) !important;
}

a.content {
    color: rgb(166, 209, 177) !important;
    text-shadow: 1px 1px 1px black, 3px 3px 4px rgb(248, 209, 33) !important;
}

a.instructional {
    color: rgb(165, 209, 238) !important;
    text-shadow: 1px 1px 1px black, 3px 3px 4px rgb(248, 209, 33) !important;
}

a.professional {
    color: rgb(206, 134, 228) !important;
    text-shadow: 1px 1px 1px black, 3px 3px 4px rgb(248, 209, 33) !important;
}

a.learner:hover {
    color: rgb(248, 209, 33) !important;
    text-shadow: 1px 1px 1px black, 4px 4px 4px rgb(247, 109, 116) !important;
}

a.content:hover {
    color: rgb(248, 209, 33) !important;
    text-shadow: 1px 1px 1px black, 4px 4px 4px rgb(166, 209, 177) !important;
}

a.instructional:hover {
    color: rgb(248, 209, 33) !important;
    text-shadow: 1px 1px 1px black, 4px 4px 4px rgb(165, 209, 238) !important;
}

a.professional:hover {
    color: rgb(248, 209, 33) !important;
    text-shadow: 1px 1px 1px black, 4px 4px 4px rgb(206, 134, 228) !important;
}

/* The subnavigation menu */
.subnav {
    float: right;
    margin-right: 15%;
    overflow: hidden;
}

/* Subnav button */
.subnavbtn {
    font-size: 1.3em;
    border: none;
    outline: none;
    color: rgb(253, 236, 204);
    margin: 0;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #506b10;
    width: 100%;
    z-index: 1;
    float: right;
    padding: 15px;
}

/* default to an open subnav menu when viewing a submenu page */
section.intasc .subnav-content {
    display: block;
}

/* Style the subnav links */
.subnav-content a {
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
    font-size: 15px;
    padding: 12px 8px;
    word-spacing: -2px;
    white-space: nowrap;
}

.subnavbtn:hover,
.subnav:hover .subnavbtn {
    color: rgb(248, 209, 33);
}

.subnav-content:hover {
    color: rgb(248, 209, 33);
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', 'Lucida Sans', Verdana, sans-serif;
    font-size: 3em;
    color: rgb(253, 236, 204);
    text-shadow: 4px 4px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 45px;
    margin-bottom: 10px;
}

h1.home {
    margin-top: 100px;
}

h1.intasc {
    margin-top: 55px;
}

h2,
h3 {
    text-align: center;
    font-family: 'Josefin Sans', 'Lucida Sans', Verdana, sans-serif;
    color: black;
    margin-bottom: auto;
}

h2.left {
    text-align: left;
}

.center {
    margin: auto;
    text-align: center;
}

.italics {
    font-style: italic;
}

div.main {
    display: grid;
    grid-template-columns: 30% 35% 30%;
    place-items: center;
    margin-top: 100px;
    font-family: 'Josefin Sans', 'Lucida Sans', Verdana, sans-serif;
}

iframe {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

section.school img.left {
    display: inline-block;
    width: 100%;
    min-width: 150px;
    height: auto;
    vertical-align: middle;
}

section.school>main>a {
    display: inline-block;
    width: 60%;
}

section.school img.right {
    display: inline-block;
    width: 60%;
    min-width: 200px;
    height: auto;
    vertical-align: middle;
}

section.school p,
section.school div.box {
    vertical-align: top;
    display: inline-block;
    background-color: rgb(253, 236, 204);
    color: rgb(12, 12, 85);
    font-size: 24px;
    margin: 12px;
    width: 85%;
    min-width: 200px;
    height: fit-content;
}

section.school div.box.title {
    width: 400px;
}

div.box.intasc p {
    width: 100%;
}

section div.box {
    vertical-align: top;
    display: inline-block;
    background-color: rgb(253, 236, 204);
    color: rgb(12, 12, 85);
    font-size: 24px;
    width: 85%;
    min-width: 200px;
    height: fit-content;
    border-color: rgb(12, 97, 34);
    border-radius: 10px;
    border: 5px solid;
    border-style: double;
    padding: 5px 25px;
    margin-top: 20px;
}

section div.box.quote {
    width: 630px;
    margin-top: 12px;
}

section div.box.intasc {
    margin-left: 6%;
}

section div.box.pdf {
    width: 35%;
}

section div.box p,
section div.box ul,
section div.box ol {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

blockquote.quote {
    text-align: center;
    font-family: 'Playwrite AU NSW';
    font-size: 27px;
}

blockquote.attrib {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: right;
}